
.cotaniner{
    @apply
    m-0
    md:m-8
    bg-white
    p-4
    rounded
    shadow-xl
}

.cotaniner_icon{
    @apply
    flex
    w-full
    justify-center
    m-4
}

.container_label{
    @apply
    font-bold
    text-gray-600
     mb-4
     w-full
    text-center
    md:text-3xl
    text-3xl
}

.container_first_row{
    @apply
    w-full
    px-3
    mb-3
    4xl:mb-8
}


.container_middle_row{
    @apply
    w-full
    px-3
    mb-3
}

.container_end_row{
    @apply
    w-full
    px-3
    mb-3
}

.submit_button{
    @apply
    w-3/4
    p-4
    !bg-blue-500
    rounded
    text-white
    hover:scale-105
    hover:font-bold
    transition-all
}

.inputLabel{
    @apply
    block
    mt-2
    4xl:my-1
    text-sm
    4xl:text-4xl
    font-medium
    text-[#617283]
}

.inputClass{
    @apply
    appearance-none
    block w-full
    bg-white
    text-gray-700
    border-[#bec9d5]
     rounded
     h-[50px]
     4xl:h-24
     leading-5
     text-xl
     4xl:text-4xl
     px-3
     py-2
     border-[1.3px]
     focus:outline-none
     focus:border-red-300
}